
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.left-container,
.right-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.left-container{
    width: 30%;
    transition: width 0.3s ease;
}

.right-container{
    height: 100vh;
    flex-grow: 1;
    overflow-x: hidden;
}
  
.title-container{
    background-color: #10083f;
    color: aliceblue;
    font-family: 'Jost', sans-serif;
    padding: 20px;
    display: flex;
    align-items: center;
}  

.user-container{
    height:100vh;
    border-right: 2px dashed #10083f;
    background-color: rgb(227, 237, 244);
}

.logout-container{
    background-color: #10083f;
    font-family: 'Jost', sans-serif;
    display: flex;
    align-items: center;
    padding-bottom: 37.5px;
}

.chat-container{
    background-color: rgb(227, 237, 244);
    height: 75%;
}

.input-container{
  background-color: rgb(227, 237, 244);
}

.msg-input {
    max-width: 190px;
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
  }
  
  input:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
  }
  
  input:hover {
    outline: 1px solid lightgrey;
  }

  .toggle-btn {
    background-color: #5b5fc7;
    color: white;
    border: none;
    padding: 4px 12px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .toggle-btn:hover {
    background-color: #4045a7;
  }

  #checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: #220e9e;
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .5s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .3s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .3s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .3s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .3s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .3s;
    transform: rotate(180deg);
  }

  body{
    margin: 0px;
  }

  .logo{
    font-weight: 600;
  }


.messages-container {
  display: flex;
  flex-direction: column;
}

.sent-message {
  align-self: flex-end;
  background-color: #4caf50; 
  color: #fff;
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
}

.received-message {
  align-self: flex-start;
  background-color: #f1f0f0; 
  color: #000;
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
}



  

  




