.login-column{
    width: 50%;
    display: block;
    vertical-align: top;
}

.signup-column{
    width: 50%;
    display: block;
    vertical-align: top;
}

@media (min-width: 768px) {
  .login-column,
  .signup-column {
      width: 50%;
      display: inline-block;
      vertical-align: top;
  }
}

.login-title{
    text-align: center;
}

.login-input {
    position: relative;
    margin: 20px;
    margin-right: 2cm;
    margin-left: 2cm;
  }
  
.login {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
  }
  
.login-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
.login-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #10083f;
    transition: all 0.3s ease;
  }
  
.login:focus + .login-label {
    top: -20px;
    font-size: 12px;
    color: #10083f;
  }
  
.login:focus + .login-label + .login-highlight {
    width: 100%;
  }

.signup-btn-container,
.login-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh; 
}

.signup-btn,
.login-btn {
    --color: #10083f;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    cursor: pointer;
   }

.signup-btn:before,   
.login-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }

.signup-btn:hover, 
.login-btn:hover {
    color: #fff;
   }

.signup-btn:before, 
.login-btn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }

.signup-btn:hover:before,  
.login-btn:hover:before {
    top: -30px;
    left: -30px;
   }

.signup-btn:active:before,
.login-btn:active:before {
    background: #10083f;
    transition: background 0s;
   }

.body {
    margin: 0;
    padding: 0;
    height: 90vh;
    justify-content: space-around;
    align-items: center;
    display: flex;
  }

.login-column,
.signup-column {
    width: 50%;
    margin-top: 1cm; 
  }

  @media (max-width: 768px) {
    .body {
        flex-direction: column;
        align-items: center;
    }

    .login-column,
    .signup-column {
        width: 80%; 
        margin-left: 1.2cm ;
    }
}

.signup-title {
    text-align: center;
  }

  .login-column{
    border-right: #002300;
  }

  .signup-column{
    border-left: #002300;
  }
  